@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

html {
    color-scheme: light;
}

html.dark {
    color-scheme: dark;
}

@layer base {
    input:not([type='checkbox']):not([type='radio']):not([type='file']),
    textarea,
    select {
        @apply dark:bg-slate-900 dark:text-slate-100 dark:border-slate-700 dark:placeholder:text-slate-500;
    }
}

@layer components {
    [aria-label='Pagination Navigation'] a,
    [aria-label='Pagination Navigation'] button {
        @apply cursor-pointer;
    }
}
